/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family_accent: "PressStart2P-Regular";
  --font-family_body: "Inter-Variable";
  --font_weight_title: 700;
  --font_weight_body: 400;

  --bg-color: #ffffff;
  --bg-img: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a);
  --accent-color: #000000;
  --text-color: var(--accent-color, #000000);
  --button-text-color: #ffffff;

  --like-main-body-color: none;
  --like-contour-color: var(--text-color, #000000);
  --like-sparks-color: #ff0000;
}
